<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Declarative builds and deployments.</h1>
		<p>
			Nix is a tool that takes a unique approach to package management and
			system configuration. Learn how to make reproducible, declarative and
			reliable systems.
		</p>
	</body>
</html>
